# Latex intermediates
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind

# Emacs temporaries
*~
\#*

# Mac stuff
.DS_Store
*.dSYM/

# Python temporaries
_*

# Executable
nga.*.exe

# Build stuff
build/
Make.local
*.mod

# Doc stuff
doc/

# Runtime files
*.h5
ensight/
monitor/
stat/
*.geom
*.grid
*.data

# Ignore all content of examples
examples/*/*
!examples/*/GNUmakefile
!examples/*/input*
examples/*/input*~
!examples/*/README
!examples/*/README.md
!examples/*/src
!examples/*/*.py
!examples/*/*.sh
!examples/nozzle_internal/cad
!examples/nozzle_2phase/cad
!examples/nozzle_2grids/cad
!examples/airblast/atomizer.ply
!examples/airblast/atomizer_tip.ply
!examples/airblast/atomizer_box.ply
!examples/simplex/simplex.input
!examples/simplex/SIMPLEX_RSA_2022-10-17.stp
!examples/collapse/collapse.bed
!examples/collapse/collapse.png
!examples/collapse/collapse_render.pvsm
!examples/shock_droplet/shock_drop_nondim.m