# Latex intermediates
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind

# Emacs temporaries
*~
\#*

# Mac stuff
.DS_Store
*.dSYM/

# Executable
nga.*.exe

# Build stuff
build/

# Doc stuff
doc/

# Runtime files
*.h5
ensight/
monitor/
stat/
